# Created by venv; see https://docs.python.org/3/library/venv.html
*.py[c|o]
.venv/
.env
*/__pycache__
telegram bot/
nginx/
static/admin/
static/rest_framework/
static/robots.txt
static/sitemap.xml
db.sqlite3
.idea

staticfiles
media/*

.coverage
coverage.xml

dump.rdb

.python-version

